
$primary: #fec080;
$secondary: #B37D47;
$cyan: #80E1FF;
$yellow: rgb(255, 198, 23);
$teal: #99FFA2;
$card-border-width: 0;
$border-radius: 0.6rem;
$border-radius-lg: 1rem;
$border-radius-sm: 0.3rem;
$modal-content-border-width: 0;
$enable-hover-media-query: true;
$gray-100: #f5f5f5;
$body-bg: $gray-100;
$link-color: theme-color("info");